.home-container {
  position: relative;
  width: 100%;
  height: 90vh; /* full screen look */
  overflow: hidden;
}

.home-image {
  width: 100%;
  height: 100%;
  object-fit: cover; /* MOST IMPORTANT */
  filter: brightness(70%); /* text clear disayla */
}

/* Text on image */
.overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}

.overlay h1 {
  font-size: 4rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.overlay p {
  font-size: 1.8rem;
  margin-bottom: 5px;
}

.overlay span {
  font-size: 1.2rem;
  letter-spacing: 2px;
color: red;
}
.forts-container {
  display: flex;
  gap: 30px;
  padding: 50px;
  justify-content: center;
  flex-wrap: wrap;
  background: #000;
}

